/* general style*/
html{
    font: Verdana;
}

.hero {
    background-image: url(./Resources/background.jpg);
    background-size: cover;
    width: auto;
    height: 100%;
    padding: 14em;
    opacity: 0.7;
}
.navigationbar {
    list-style: none;
    display: flex;
}
.navigationbar li {
    color:#FFF2E3;
    margin-top: 0%;
    margin-left: 10%;
}
.navigationbar a{
    font-size: 3em;
    color:white;
    font-weight: bold;
    
}
.Xiali {
    font-style: italic;
    font-size: 4em;
    margin-right: 13%;
    font-weight: bold;
    text-shadow: 2px 2px 4px #FFF2E3;
}
.header {
    font-size: 3em;
    color: #FFF2E3;
    font-weight: bold;
    text-shadow: 2px 2px 4px #FFF2E3;
}
.cassie{
    width: 15%;
    height: 15%;
}